<% if not @w.nil? %>
	<h1><%= @w[:city] %></h1>
	<p>
		It's <%= @temperature %>°F
		and it looks like it's a <%= @w[:description] %>
	</p>
<% end %>

<%= form_with local: true, method: "get" do |f| %>
    <%= f.text_field :city %>
    <%= f.submit %>
<% end %>

<%= City.all.each do |c| %>
<% if not c.nil? %>
    <h1><%= c.name %></h1>
    <p>
        It's <%= c.temperature %>°F
        and it looks like it's a <%= c.description %>
    </p>
<% end %>
<% end %>